.section-header {
	background-color: #ef5350 ;
	color: #fff;
	height: 1em;
	margin: 0;
	line-height: 1em;
}

.section {
	background-color: #f8f8f8;

}

.section-objection {
	background-color: #ffecb3;
	padding: 3px;
	border-radius: 5px;
	color: #8a6d3b;
	border: 1px solid #faebcc;
	margin-bottom: 1em;
}


.box{
	width: 90%;
	height: auto;
	background-color: #fff;
	margin: 1em;
	padding: 5px;
	box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
	border: 1px solid rgba(238, 238, 238, 0.65);
}

.option{
	border: none;
	background-color: transparent;
	font-size: 20px;
	color: #c9c9c9;
}

.option:hover{
	color: #ef5350;
}

.hidden{
	display: none;
}

.margin-top{
	margin-top: 13.5em;
}

.banorte_logo{
	width: 40%;
	padding: 10px;
}

.tyt_logo{
	width: 10%;
}

.bold{
	font-weight: bold;
}

.border{
	border: 2px solid #000;
	padding: 3px;
}

.textColor{
	color: blue;
}
.textColorRed{
	color: red;
}
.textColorBlack{
	color: black;
}
.textColorGris{
	color: #9e9e9e;
}

.bottom-survey{
	margin-top: 25px;
    margin-left: 40px;
}

@media (max-width: 1199px) {
	.margin-top{
		margin-top: 13.5em;
	}

	.section-header{
		height: 1.2em;
		line-height: 1.2em;
	}
}
